@page
@model Vayvem.Pages.Clientes.EditModel
@{
}


<br />
<h2>Atualizar Cliente</h2>

@if (Model.errorMessage.Length > 0)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>@Model.errorMessage</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" arial-label="Close"></button>
    </div>
}

<form method="POST">
    <input type="hidden" name="Id" value="@Model.clienteInfo.Id" />
    <div class="row mb-3">
        <label class="col-ms-3 col-form-label">Nome</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="Nome" valeu="@Model.clienteInfo.Nome">
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-ms-3 col-form-label">Cpf</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="Cpf" valeu="@Model.clienteInfo.Cpf">
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-ms-3 col-form-label">Endereço</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="Endereco" valeu="@Model.clienteInfo.Endereco">
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-ms-3 col-form-label">E-mail</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="Email" valeu="@Model.clienteInfo.Email">
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-ms-3 col-form-label">Telefone</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="Telefone" valeu="@Model.clienteInfo.Telefone">
        </div>
    </div>

    @if (Model.successMesage.Length > 0)
    {
        <div class="row mb-3">
            <div class="col-sm-9">
                <div class="alert alert-primary alert-dismissible fade show" role="alert">
                    <strong>@Model.successMesage</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" arial-label="Close"></button>
                </div>
            </div>
        </div>
    }
    <div class="row mb-3">
        <div class="offset-sm-3 col-sm-3 d-grid">
            <button type="submit" class="bnt btn-success">Cadastrar</button>
        </div>
        <div class="col-sm-3 d-grid">
            <a class="btn btn-outline-danger" href="/" role="button">Cancelar</a>
        </div>
    </div>
</form>
